.main{
    margin: 2rem 15rem;
}
.title-home{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
    background: #76BA99;
    padding: 1rem 2rem;
    border-radius: .5rem;
}
.sort{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.sort_btn{
    margin: 1rem 0;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    background: #b9e9d2;
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}
.sort_btn:hover{
    background: #76BA99;
}
table{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
th{
    padding: .5rem;
    font-weight: 300;
    background: #62B6B7;
    border: 1px solid #dddddd;
    color: #fff;
}
td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: .5rem;
  }

  .btns{
    font-size: 1rem;
    color: #fff;
    padding: .2rem 1rem;
    border-radius: .5rem;
    border: none;
    margin: .5rem 0;
    width: 100%;
  }
  .btn-edit{
    background: #14C38E;
    text-decoration: none;
    padding: .2rem 2rem;
  }
  .btn-delete{
    background: #E74C3C;
  }
  .btns:hover{
    cursor: pointer;
    background: #ccc;
    color: #000;
    /* border: .1rem solid #76BA99; */
  }
