.main{
    margin: 2rem 15rem;
}
#main{
    overflow: auto;
    padding-bottom: 5rem;
}
.title-home{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem;
    background: #76BA99;
    padding: 1rem 2rem;
    border-radius: .5rem;
}
.sort{
    margin: 1rem;
}
.sort_btn{
    /* margin: 1rem 0; */
    padding: .1rem .5rem;
    border-radius: .2rem;
    border: none;
    background: #478c8d;
    color: #000;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}
.sort_btn:hover{
    background: #62B6B7;
    outline: solid 0.001rem #2d5253; ;
}

table{
    /* border: 1px solid #000; */
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
th{
    padding: .5rem;
    font-weight: 300;
    background: #62B6B7;
    border: 1px solid #dddddd;
    color: #fff;
}
th:first-child{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: .5rem;
  }

.btns{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.btn-edit{
  color: #14C38E;
}
.btn-delete{
  padding-left: 2rem;
  align-items: center;
  color: #E74C3C;
}
.btn-delete:hover{
  color: #E74C3C;
  cursor: pointer;

}
.fa-check{
  color: #14C38E;
}
.fa-xmark{
  color: #E74C3C;
}


#footer{
  position: relative;
  bottom: 0;
  width: 100%;
}
@media screen and ( max-width:991px ) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    .main_table{
        overflow-x: auto;
    }
    .main{
      margin: 2rem 10rem;
    }

}
@media (max-width:768px ){
  .main{
    margin: 2rem 2rem;
  }
}
@media (max-width:450px){
  html{
      font-size: 50%;
  }
  .heading{
      font-size: 2.5rem;
  }
  .main{
    margin: 2rem 2rem;
  }
  .footer{
      text-align: center;
  }
}
