@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600&display=swap');

:root{
    --green:#14C38E;
    --black:#130f40;
    --light-colour:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}
*{
    font-family: 'Roboto', sans-serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    /* text-decoration: none; */
    text-transform: capitalize;
    transition: .2s linear;
}
body{
    background-color: #eee;
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: #fff;
}
.title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--green);
    text-decoration: none;
    text-align: center;
    margin: 1rem 0;
}
.title span{
    color: #76BA99;
}

.navbar a{
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: .5rem;
    border: none;
    margin: 0 .5rem;
    padding: .5rem .5rem;
    color: #76BA99;
}
.navbar a:hover{ 
    background: #EFEFEF; 
}
#menu-btn{
    display: none;
}
.footer{
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    background: #76BA99;
    padding: 1rem 2rem;
    padding-top: 6rem;
}
#footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

/* media queries */
@media screen and ( max-width:991px ) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    .main_table{
        overflow-x: auto;
    }

}
@media (max-width:768px ){
    .main{
      margin: 2rem 10rem;
    }
}
